body{
    text-align: center;
}
h1{
    font-size: 300%;
}
.MainSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
}
#imageCont{
    flex: 1;
}
article{
    flex: 1;
}